body { 
     background-color: rgb(0, 0, 0) ;  
 }
.title{
        display: block;
        justify-content: center;
        margin: auto;
        width: 50%;
        height: 100px;
        max-width: 1000px;
        min-width: 500px;
}

